* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
/*Navbar*/
.navbar {
  border-bottom: 2px solid gray;
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}
.navbar .logo {
  margin-left: 50px;
}
.navbar .icons {
  font-size: 30px;
  margin-right: 50px;
}
.navbar .icons .fa-heart {
  color: red;
  margin-left: 20px;
}

/*Search*/
.search_wrapper {
  display: flex;
  justify-content: center;
}
.search_wrapper input {
  padding: 8px 12px;
  font-size: 17px;
  margin-right: 5px;
  border: 1px solid rgb(161, 161, 161);
  border-radius: 5px;
}
.search_wrapper input:focus {
  outline: none;
}
.search_wrapper button {
  padding: 8px 12px;
  font-size: 17px;
  border: none;
  background-color: rgb(209, 209, 209);
  color: white;
  border-radius: 5px;
}
.search_wrapper button:hover {
  background-color: gray;
}


/*Recipe container*/
.recipe_container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.recipe_container .spinner {
  text-align: center;
  border: 1px solid black;
}
.recipe_container .recipe_item {
  box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.35);
  border-radius: 6px;
  width: 320px;
  height: 430px;
  padding: 5px;
  margin: 20px auto;
}
.recipe_container .recipe_item .recipe_title {
  text-align: center;
  padding: 10px 0px;
  height: 10%;
}
.recipe_container .recipe_item .recipe_image {
  width: 100%;
  border-radius: 5px;
}

.recipe_container .recipe_item .recipe_info {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.recipe_container .recipe_item .recipe_info .recipe_Kcal {
  font-weight: bold;
  font-size: 18px;
  color: gray;
}
.recipe_container .recipe_item .recipe_info .ingradients {
  padding: 8px 12px;
  font-size: 18px;
  background-color: rgb(196, 196, 196);
  border: none;
  outline: none;
  color: white;
  border-radius: 5px;
}
.recipe_container .recipe_item .recipe_info .ingradients:hover {
  background-color: rgb(107, 107, 107);
}
.spinner {
  text-align: center;
  padding: 60px 0px;
}

/*Details*/
.details_container .details_wrapper .details_title {
  text-align: center;
}
.details_container .details_wrapper .details_info {
  box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.35);
  border-radius: 8px;
  padding: 10px 20px 20px 20px;
  width: 1000px;
  margin: 20px auto;
  display: flex;
  justify-content: center;
}
.details_container .details_wrapper .details_info .details_image {
  width: 50%;
  padding-top: 37px;
}
.details_container .details_wrapper .details_info .details_image img {
  width: 90%;
  border-radius: 8px;
}
.details_container .details_wrapper .details_info .details_image .add_to_fav {
  margin: 20px 0px;
}
.details_container .details_wrapper .details_info .details_image .add_to_fav button {
  width: 90%;
  padding: 5px;
  font-size: 30px;
  background-color: rgb(255, 102, 31);
  border: none;
  color: white;
  border-radius: 5px;
}
.details_container .details_wrapper .details_info .details_image .add_to_fav button:hover {
  background-color: red;
  outline: none;
}
.details_container .details_wrapper .details_info .details_desc {
  width: 50%;
}
.details_container .details_wrapper .details_info .details_desc h4 {
  text-align: center;
}
.details_container .details_wrapper .details_info .details_desc .details_ingr {
  background-color: rgb(175, 175, 175);
  padding: 5px 10px;
  margin: 5px 0px;
  border-radius: 3px;
  text-align: right;
  color: white;
  font-weight: bold;
}
.details_container .details_wrapper .details_info .details_desc .details_makros {
  display: flex;
  justify-content: space-evenly;
}
.details_container .details_wrapper .details_info .details_desc .details_makros .makros {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.details_container .details_wrapper .details_info .details_desc .details_makros .makros .makros_quantity {
  border: 8px solid black;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
.details_container .details_wrapper .details_info .details_desc .details_makros .makros .makros_quantity span {
  font-weight: bold;
}
.details_container .details_wrapper .details_info .details_desc .details_makros .makros .green {
  border-color: green;
}
.details_container .details_wrapper .details_info .details_desc .details_makros .makros .orange {
  border-color: orange;
}
.details_container .details_wrapper .details_info .details_desc .details_makros .makros .red {
  border-color: red;
}
.details_container .details_wrapper .details_info .details_desc .details_makros .makros .makros_name {
  padding: 10px 0px;
}
.details_container .details_wrapper .details_info .details_desc .details_total .total {
  text-align: right;
  background-color: rgb(7, 150, 7);
  padding: 5px 10px;
  margin: 5px 0px;
  border-radius: 5px;
  color: white;
}
.details_container .details_wrapper .details_info .details_desc .details_total .total span {
  font-weight: bold;
}

/*Favorite*/
.favorite_container {
  min-height: 90vh;
}
.favorite_container .favorite_empty {
  text-align: center;
  padding: 20px 0px;
} 
.favorite_container .favorite_item {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 1px solid lightgray;
}
.favorite_container .favorite_item  div {
  width: 20%;
}
.favorite_container .favorite_item  .name {
  font-size: 25px;
}
.favorite_container .favorite_item .kcal {
  font-weight: bold;
}
.favorite_container .favorite_item .image {
  margin: 10px 10px 10px 30px;
}
.favorite_container .favorite_item .image img {
  width: 150px;
  border-radius: 5px;
}

.favorite_container .favorite_item .ingredients div .ingr {
  font-size: 12px;
}
.favorite_container .favorite_item .trash .fas {
  font-size: 30px;
}

/*Footer*/
.footer {
  font-size: 20px;
  text-align: center;
  padding: 20px 0px;
  margin-top: 20px;
  border-top: 2px solid gray;
}



@media screen and (max-width: 720px) {
  .details_info {
    flex-direction: column;
  }
}
