* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'poppins', sans-serif;
}

/*Navbar*/
.navbar {
  border-bottom: 2px solid gray;
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}
.navbar .logo {
  margin-left: 50px;
}
.navbar .icons {
  font-size: 30px;
  margin-right: 50px;
}
.navbar .icons .fa-heart {
  color: red;
  margin-left: 20px;
  position: relative;
}
.navbar .icons .fa-heart .fav_num {
  position: absolute;
  top: -10px;
  right: -10px;
  font-size: 14px;
  background-color: black;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  
}
.hidden {
  display: none;
}

/*Search*/
.search_wrapper {
  display: flex;
  justify-content: center;
}
.search_wrapper .search_inner {
  width: 320px;
  background-color: white;
  border: 2px solid gray;
  border-radius: 25px;
  overflow: hidden;
  padding: 3px;
  display: flex;
  justify-content: space-between;
}
.search_wrapper input {
  padding: 8px 12px;
  font-size: 17px;
  margin-right: 5px;
  border-radius: 5px;
  border: none;
}
.search_wrapper input:focus {
  outline: none;
}
.search_wrapper button {
  padding: 8px 12px;
  font-size: 17px;
  border: none;
  background-color: white;
  color: white;
  border-radius: 5px;
  border-radius: 20px;
}
.search_wrapper button:hover {
  background-color: gray;
}
.search_wrapper button i {
  color: lightgray;
}


/*Recipe container*/
.recipe_container {
  width: 100%;
  min-height: 70vh;
  display: flex;
  flex-wrap: wrap;
}
.recipe_container .spinner {
  text-align: center;
  border: 1px solid black;
}
.recipe_container .recipe_item {
  box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.35);
  border-radius: 6px;
  width: 320px;
  height: 430px;
  padding: 5px;
  margin: 20px auto;
}
.recipe_container .recipe_item .recipe_title {
  text-align: center;
  padding: 10px 0px;
  height: 10%;
}
.recipe_container .recipe_item .recipe_image {
  width: 100%;
  border-radius: 5px;
}

.recipe_container .recipe_item .recipe_info .ingradients {
  padding: 12px;
  font-size: 18px;
  background-color: rgb(196, 196, 196);
  width: 100%;
  border: none;
  outline: none;
  color: white;
  border-radius: 5px;
  margin-top: 8px;
}
.recipe_container .recipe_item .recipe_info .ingradients:hover {
  background-color: rgb(107, 107, 107);
}
.spinner {
  text-align: center;
  padding: 60px 0px;
}

/*Details*/
.details_container .details_wrapper .details_title {
  text-align: center;
}
.details_container .details_wrapper .details_info {
  box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.35);
  border-radius: 8px;
  padding: 10px 20px 20px 20px;
  width: 1000px;
  margin: 20px auto;
  display: flex;
  justify-content: center;
}
.details_container .details_wrapper .details_info .details_image {
  width: 50%;
  padding-top: 37px;
}
.details_container .details_wrapper .details_info .details_image img {
  width: 90%;
  border-radius: 8px;
}
.details_container .details_wrapper .details_info .details_image .add_to_fav {
  margin: 20px 0px;
}
.details_container .details_wrapper .details_info .details_image .add_to_fav button {
  width: 90%;
  padding: 5px;
  font-size: 30px;
  background-color: rgb(235, 235, 235);
  border: none;
  color: red;
  border-radius: 5px;
}
.details_container .details_wrapper .details_info .details_image .add_to_fav button:hover {
  background-color: red;
  color: white;
  outline: none;
}
.details_container .details_wrapper .details_info .details_desc {
  width: 50%;
}
.details_container .details_wrapper .details_info .details_desc h4 {
  text-align: center;
}
.details_container .details_wrapper .details_info .details_desc .details_ingr {
  background-color: rgb(175, 175, 175);
  padding: 5px 10px;
  margin: 5px 0px;
  border-radius: 3px;
  text-align: right;
  color: white;
  font-weight: bold;
}
.details_container .details_wrapper .details_info .details_desc .details_makros {
  display: flex;
  justify-content: space-evenly;
}
.details_container .details_wrapper .details_info .details_desc .details_makros .makros {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.details_container .details_wrapper .details_info .details_desc .details_makros .makros .makros_quantity {
  border: 8px solid black;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
.details_container .details_wrapper .details_info .details_desc .details_makros .makros .makros_quantity span {
  font-weight: bold;
}
.details_container .details_wrapper .details_info .details_desc .details_makros .makros .green {
  border-color: green;
}
.details_container .details_wrapper .details_info .details_desc .details_makros .makros .orange {
  border-color: orange;
}
.details_container .details_wrapper .details_info .details_desc .details_makros .makros .red {
  border-color: red;
}
.details_container .details_wrapper .details_info .details_desc .details_makros .makros .makros_name {
  padding: 10px 0px;
}
.details_container .details_wrapper .details_info .details_desc .details_total .total {
  text-align: right;
  background-color: rgb(7, 150, 7);
  padding: 5px 10px;
  margin: 5px 0px;
  border-radius: 5px;
  color: white;
}
.details_container .details_wrapper .details_info .details_desc .details_total .total span {
  font-weight: bold;
}

/*Favorite*/
.favorite_container {
  min-height: 90vh;
}
.favorite_container .favorite_empty {
  text-align: center;
  padding: 20px 0px;
} 
.favorite_container .favorite_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
}
.favorite_container .favorite_item .fav_infotext {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
}
.favorite_container .favorite_item .fav_infotext .makros {
  display: flex;
  flex-direction: column;
}
.favorite_container .favorite_item .fav_infotext .makros .protein {
  border: 4px solid green;
  padding: 3px;
  border-radius: 5px;
}
.favorite_container .favorite_item .fav_infotext .makros .carbs {
  border: 4px solid orange;
  margin: 5px 0px;
  padding: 3px;
  border-radius: 5px;
}
.favorite_container .favorite_item .fav_infotext .makros .fat {
  border: 4px solid red;
  padding: 3px;
  border-radius: 5px;
}

.favorite_container .favorite_item .fav_infotext  .name {
  font-size: 25px;
  width: 30%;
}
.favorite_container .favorite_item .fav_infotext .kcal span {
  font-weight: bold;
  font-size: 20px;
}
.favorite_container .favorite_item .fav_infotext .tweight span {
  font-weight: bold;
  font-size: 20px;
}
.favorite_container .favorite_item .image {
  width: 20%;
  margin: 10px 10px 10px 30px;
}
.favorite_container .favorite_item .image img {
  width: 150px;
  border-radius: 5px;
}
.favorite_container .favorite_item .fav_infotext .trash button {
  padding: 6px 12px;
  font-size: 18px;
  background-color: white;
  color: red;
  border: 1px solid red;
  cursor: pointer;
  border-radius: 5px;
}
.favorite_container .favorite_item .fav_infotext .trash button:hover {
  outline: none;
  background-color: red;
  color: white;
}



/*Footer*/
.footer {
  font-size: 20px;
  text-align: center;
  padding: 20px 0px;
  margin-top: 20px;
  border-top: 2px solid gray;
}



@media screen and (max-width: 720px) {
  /*Navbar*/
  .navbar .logo {
    margin-left: 25px;
  }
  .navbar .icons {
    margin-right: 25px;
  }
  
  /*Details*/
  .details_container .details_wrapper .details_info {
    padding: 5px;
    width: 365px;
    flex-direction: column;
  }
  .details_container .details_wrapper .details_info .details_image {
    width: 100%;
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .details_container .details_wrapper .details_info .details_image img {
    width: 95%;
  }
  
  .details_container .details_wrapper .details_info .details_image .add_to_fav {
    margin: 10px 0px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .details_container .details_wrapper .details_info .details_image .add_to_fav button {
    font-size: 20px;
    width: 95%;
  }
  .details_container .details_wrapper .details_info .details_desc {
    width: 100%;
    padding: 5px;
  }
  .details_container .details_wrapper .details_info .details_desc .details_ingr {
    width: 100%;
  }
  
  /*Favorite*/
  .favorite_container .favorite_item .fav_infotext {
    flex-direction: column;
  }
  .favorite_container .favorite_item .image {
    width: auto;
    margin: 10px;
  }
  .favorite_container .favorite_item .image img {
    width: 160px;
  }
  .favorite_container .favorite_item .fav_infotext .trash button {
    padding: 3px 12px;
    font-size: 15px;
    margin-bottom: 5px;
  }
  .favorite_container .favorite_item .fav_infotext  .name {
    font-size: 18px;
    width: 100%;
    text-align: center;
  }
  .favorite_container .favorite_item .fav_infotext .kcal span {
    font-size: 15px;
  }
  .favorite_container .favorite_item .fav_infotext .tweight span {
    font-size: 15px;
  }
  .favorite_container .favorite_item .fav_infotext .makros .protein {
    border: 2px solid green;
    padding: 2px;
    border-radius: 5px;
    font-size: 12px;
  }
  .favorite_container .favorite_item .fav_infotext .makros .carbs {
    border: 2px solid orange;
    margin: 3px 0px;
    padding: 2px;
    border-radius: 5px;
    font-size: 12px;
  }
  .favorite_container .favorite_item .fav_infotext .makros .fat {
    border: 2px solid red;
    padding: 2px;
    border-radius: 5px;
    font-size: 12px;
  }
}
